[binance]
api_key = <binance api key>
api_secret = <binance app secret>
;# กำหนดเป็น on เมื่อต้องการทดสอบด้วย https://testnet.binancefuture.com
;sandbox = off

[line]
notify_token = <line notify token>
remove_plot = on
summary_report = on

[app_config]
;# สามารถข้ามส่วนนี้ไปได้ โดยใช้ค่าที่กำหนดให้ได้เลย
;TIME_SHIFT = 5
;CANDLE_LIMIT = 1000
;CANDLE_PLOT = 100
;# level การบันทึก log file ทั่วไปให้ใช้แบบ INFO
;# CRITICAL 50, ERROR 40, WARNING 30, INFO 20, DEBUG 10, NOTSET 0
LOG_LEVEL = 20
;# กำหนดรอบเวลาในแสดง update balancec และ mm check
;# 0=timeframe, 1=15, 2=20, 3=30, 4=60, 5=timeframe/2 
UB_TIMER_MODE = 3
;SWING_TF = 5
;SWING_TEST = 2
;TP_FIBO = 2
;CB_AUTO_MODE = 1

[setting]
timeframe = 15m
signal_index = -1
margin_type = USDT

;watch_list = BTCUSDT,ETHUDST,DOGEUSDT
;back_list = SRMUSDT,SOLUSDT,SFPUSDT,FTTUSDT,CVCUSDT,DARUSDT,BNXUSDT

trade_mode = on
trade_long = on
trade_short = on

auto_max_leverage = off
leverage = 20
auto_min_cost = off
cost_type = $
cost_amount = 0.5

limit_trade = 0
limit_trade_long = 5
limit_trade_short = 5

not_trade = 5.0

tpsl_mode = on
tp_long = 9.0
tp_short = 9.0
tp_close_long = 40.0
tp_close_short = 40.0
sl_long = 3.0
sl_short = 3.0

trailing_stop_mode = on
;# callback rate ranges from 0.1% to 5%, 0.0 for auto
callback_long = 1.5
callback_short = 1.5
active_tl_long = 9.0
active_tl_short = 9.0

;# default period
adx_period = 14
rsi_period = 14
sto_k_period = 14
sto_smooth_k = 3
sto_d_period = 3

;# basic setting
;adx_in = 12
;position_long = up
;position_value_long = 70
;position_short = down
;position_value_short = 30
;exit_long = down
;exit_value_long = 50
;exit_short = up
;exit_value_short = 50

;# STO on/off
sto_mode = 'off'
sto_enter_long = 20
sto_enter_short = 80

[symbols_setting]
;csv_name = symbol_config.csv

[mm]
; ใส่ค่าเป็น amount, เฉพาะ close_rate ใส่เป็น %
tp_pnl_long = 0.0
tp_pnl_close_rate_long = 25.0
sl_pnl_long = 0.0
active_tl_pnl_long = 0.0
callback_pnl_long = 0.0

tp_pnl_short = 0.0
tp_pnl_close_rate_short = 25.0
sl_pnl_short = 0.0
active_tl_pnl_short = 0.0
callback_pnl_short = 0.0

;tp_profit = 5.0
;sl_profit = 3.0
;tp_profit_long = 2.5
;sl_profit_long = 1.5
;tp_profit_short = 2.5
;sl_profit_short = 1.5

clear_margin = 0.01

loss_limit = 3