[binance]
api_key = <binance api key>
api_secret = <binance api secret>
;# กำหนดเป็น on เมื่อต้องการทดสอบด้วย https://testnet.binancefuture.com
sandbox = off

[line]
notify_token = <line notify token>
;# กำหนด on/off เพื่อ เปิด/ปิด การลบรูปกราฟหลังจากใช้งานเสร็จ
remove_plot = on
;# กำหนด on/off เพื่อ เปิด/ปิด การรายงานสรุป
summary_report = on

[app_config]
;# สามารถข้ามส่วนนี้ไปได้ โดยใช้ค่าที่กำหนดให้ได้เลย
;TIME_SHIFT = 5
;CANDLE_LIMIT = 1000
;CANDLE_PLOT = 100
;# level การบันทึก log file ทั่วไปให้ใช้แบบ INFO
;# CRITICAL 50, ERROR 40, WARNING 30, INFO 20, DEBUG 10, NOTSET 0
LOG_LEVEL = 20
;# กำหนดรอบเวลาในแสดง update balancec และ mm check
;# 0=timeframe, 1=15, 2=20, 3=30, 4=60, 5=timeframe/2 
UB_TIMER_MODE = 4
MM_TIMER_MIN = 0.5
;SWING_TF = 5
;SWING_TEST = 2
;TP_FIBO = 2
;CB_AUTO_MODE = 1

[setting]
;# 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 12h, 1d
timeframe = 4h
signal_index = -2
margin_type = USDT

;# ระบุ symbol ที่ต้องการใน watch_list, back_list และต้องสอดคล้องกับ margin_type
;watch_list = BTCUSDT,ETHUSDT
;back_list = SRMUSDT,SOLUSDT,SFPUSDT,FTTUSDT,CVCUSDT,DARUSDT,BNXUSDT,WAVESUSDT,HNTUSDT,RENUSDT,DENTUSDT,GALAUSDT,FTTBUSD,ANCBUSD,GALABUSD,WAVESBUSD,LDOBUSD,AUCTIONBUSD,LEVERBUSD,AMBBUSD,PHBBUSD,LDOUSDT

trade_mode = on
trade_long = on
trade_short = on

auto_max_leverage = off
leverage = 20
cost_type = $
cost_amount = 0.5

limit_trade = 20
limit_trade_long = 10
limit_trade_short = 10

not_trade = 10.0
risk_limit = 0.0
;# กำหนดค่า maintanance margin ration ตามที่ binance กำหนด
maint_margin_ratio = 0.40

tpsl_mode = on
;tp_long = 12.0
;tp_short = 12.0
tp_close_long = 50.0
tp_close_short = 50.0
;sl_long = 4.0
;sl_short = 4.0

trailing_stop_mode = on
;callback_long = 2.5
;callback_short = 2.5
;active_tl_long = 10.0
;active_tl_short = 10.0

;# default period
adx_period = 14
rsi_period = 14
sto_k_period = 14
sto_smooth_k = 3
sto_d_period = 3

;# basic setting
;adx_in = 12
;position_long = up
;position_value_long = 70
;position_short = down
;position_value_short = 30
;exit_long = down
;exit_value_long = 50
;exit_short = up
;exit_value_short = 50

;# STO on/off
sto_mode = off
sto_enter_long = 20
sto_enter_short = 80

[symbols_setting]
;csv_name = symbol_config.csv

[mm]
;percent_mode = off

;tp_pnl_long = 0.50
;tp_pnl_close_rate_long = 25.0
;sl_pnl_long = 0.25
;active_tl_pnl_long = 0.50
;callback_pnl_long = 2.5

;tp_pnl_short = 0.50
;tp_pnl_close_rate_short = 25.0
;sl_pnl_short = 0.25
;active_tl_pnl_short = 0.50
;callback_pnl_short = 2.5

;average_level = 5
;tp_profit = 3.0
;sl_profit = 1.0
;tp_profit_long = 2.0
;sl_profit_long = 1.0
;tp_profit_short = 2.0
;sl_profit_short = 1.0

clear_margin = 0.01

loss_limit = 3